
<h2>Agregar Libro</h2>
<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Autor</mat-label>
      <input matInput formControlName="author" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Año de publicación</mat-label>
        <input matInput formControlName="publicationYear" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Género</mat-label>
        <input matInput formControlName="gender" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Disponibles:</mat-label>
        <input matInput formControlName="availablequantity" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>ISBN:</mat-label>
        <input matInput formControlName="isbn_code" required>
      </mat-form-field>
        <button  mat-raised-button type="submit"(click)="addBook(book)" class="btn btn-primary">Registrar Libro</button>
  </form>

  
  


