.registration-form {
    max-width: 400px;
    margin: 0 auto;
    
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .mat-form-field {
    width: 100%;
    font-size: 14px; /* Tamaño de fuente reducido */
    margin-bottom: 8px; /* Espaciado inferior entre campos */
    display: block;
  }
  
  
  /* Personaliza los estilos de los botones según tu preferencia */
  button.btn.btn-primary {
    background-color: #007bff;
    color: #fff;
    font-size: 14px; 
    padding: 10px 20px;
  }
  
  button.btn.btn-primary:hover {
    background-color: #0056b3;
  }
// .margin{
// 	margin-bottom: 10px;
// }